.navbar{
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  border: 1px solid white;
  display: flex;
  justify-content: space-around;
}
.logo{
  /* border: 1px solid red; */
  width: 50%;
}
.navLinks ul{
  /* border: 1px solid red; */
  width: 50%;
  list-style: none;
  display: flex;

}
.navLinks ul li{
  margin: 0 2rem;
  cursor: pointer;
}